@include block(about) {
  display: flex;
  flex-direction: column;
  max-width: $desktop-l;
  margin: 60px auto;
  padding: 0 24px;

  @include element(avatar) {
    margin-right: 2em;
    border-radius: 100%;
    width: 250px;
  }

  @include element(content) {
    margin-top: 1em;
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }
}