@include block(footer) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background-color300;
  padding: 80px 16px;

  div {
      display: flex;
      flex-direction: row;
  }

  @include element(heading) {
    color: #fafafa;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;

    @include mobile-l { font-size: 1.75em; }
    @include tablet   { font-size: 2em; }
    @include desktop  { font-size: 2.25em; }
  }

  @include element(description) {
    text-align: center;
    margin: 7px 0 16px 0;
    color: $text-color;
  }

  @include element(icon) {
    display: flex;
    background-color: $primary;
    margin: 0 5px;
    color: #fff;
    width: 42px;
    height: 42px;
    border-radius: 100%;

    &:hover { background-color: $primary600; }

    svg {
        margin: auto;
        width: 21px;
        height: 21px;
    }
  }
}
