@include block(menu) {
  display: flex;
  z-index: 1;
  flex-direction: row;
  justify-content: space-between;

  @include element(options) {
    display: flex;
  }

  @include element(languages) {
    display: flex;
  }

  @include when(hamburger) {
    position: relative;
    transition: all 250ms ease-in-out;
    width: $menu-hamburger-width;
    transform: translateX(-100%);

    @if ($topbar-height) {
      padding-top: $topbar-height + 16px;

      @include desktop {
        padding-top: 16px;
      }
    }

    @include when(visible) {
      transform: translateX(0);
    }

    @include when(collapsed) {
      width: $menu-hamburger-collapsed;

      & .ui-menu-item__span {
        transition-timing-function: ease-in;
        opacity: 0;
      }
    }
  }

  @include element(mask) {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms ease, visibility 250ms ease, width 250ms ease-in-out;

    @include desktop {
      position: static;
      opacity: 1;
      width: 0;
      visibility: visible;
      max-width: 300px;
    }

    @include when(visible) {
      opacity: 1;
      width: 100%;
      visibility: visible;

      @include desktop {
        width: $menu-hamburger-width;
      }

      @include when(collapsed) {
        @include desktop {
          width: $menu-hamburger-collapsed;
        }
      }
    }
  }
}

@include block(menu-item) {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  transition: all 120ms ease;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  border-bottom: 2px solid transparent;

  &:hover,
  &:focus {
    outline: none;
    border-color: $primary;
  }

  @include when(disabled) {
    opacity: 0.25;
    cursor: not-allowed;
  }

  @include element(lang) {
    width: 20px;
    height: 15px;
  }

  @include when(selected) {
    border-color: $primary;
  }

  .ui-icon {
    transition: transform 220ms ease-out;
    flex-shrink: 0;
  }
}
