@include block(menu) {
  display: flex;
  z-index: 1;
  flex-direction: row;
  justify-content: flex-end;

  @include element(options) {
    display: flex;
  }

  @include element(languages) {
    display: flex;
  }
}

@include block(menu-item) {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  transition: all 120ms ease;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  border-bottom: 2px solid transparent;

  &:hover,
  &:focus {
    outline: none;
    border-color: $primary;
  }

  @include when(disabled) {
    opacity: 0.25;
    cursor: not-allowed;
  }

  @include element(lang) {
    width: 20px;
    height: 15px;
  }

  @include when(selected) {
    border-color: $primary;
  }

  .ui-icon {
    transition: transform 220ms ease-out;
    flex-shrink: 0;
  }
}
