@include block(project) {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  padding: 1.5em;
  background-color: $background-color400;
  border-radius: $border-radius;
  box-shadow: $med-shadow;

  @include desktop-l {
    flex-direction: row;

    & > div {
        flex: 1;
    }
  }

  @include element(heading) {
    margin: 0;
    font-size: 1.2em;
    font-weight: 500;

    @include mobile-l { font-size: 1.3em; }
    @include tablet   { font-size: 1.4em; }
    @include desktop  { font-size: 1.5em; }
  }

  @include element(button) {
    @extend .pt-button;
    font-weight: 400;
    margin-top: 7px;
    border-color: $primary;
    background-color: $primary;

    &:hover {
        border-color: $primary600;
        background-color: $primary600;
        transition: all 0.15s;
    }

    @include mobile-l {
      & + .pt-project__button {
        margin-left: 12px;
      }
    }
  }

  @include element(img) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;

    @include desktop-l {
      margin-left: 1.5em;
    }

    img {
      max-width: 100%;
      border-radius: 5px;
    }
  }
}
