@include block(skill) {
    display: flex;
    flex-direction: column;

    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include element(content) {
        display: flex;
        flex-direction: row;
        flex-basis: 30%;
        flex-grow: 1;
        align-items: center;
        margin-top: 1em;
        padding: 1em;
        background-color: $background-color400;
        border-left: 5px solid $primary;
        border-radius: $border-radius;
        box-shadow: $low-shadow;

        @include desktop {
            margin-right: 1em;

            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }

    @include element(img) {
        height: 25px;
        margin-right: 12px;
    }
}