@import './variables';

.animate {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animate.fast   { animation-duration: 800ms; }
.animate.faster { animation-duration: 500ms; }

.animate.delay-250  { animation-delay: 0.25s; }
.animate.delay-500  { animation-delay: 0.5s; }
.animate.delay-1000 { animation-delay: 1s; }
.animate.delay-1500 { animation-delay: 1.5s; }

.animate-on-scroll {
    animation-play-state: paused;
    opacity: 0;
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}

.fade-in {
    animation-name: fade-in;
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
  
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
  
.fade-in-up {
    animation-name: fade-in-up;
}

@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
  
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
  
.fade-in-down {
    animation-name: fade-in-down;
}

@keyframes fade-in-down-slight {
    from {
        opacity: 0;
        transform: translate3d(0, -15%, 0);
    }
  
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
  
.fade-in-up-slight {
    animation-name: fade-in-up-slight;
}

@keyframes fade-in-up-slight {
    from {
        opacity: 0;
        transform: translate3d(0, 15%, 0);
    }
  
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
  
.fade-in-up-slight {
    animation-name: fade-in-up-slight;
}

@keyframes grow-right {
    from {
        width: 0;
    }
}

.grow-right {
    animation-name: grow-right;
}

@media only screen and (min-width: $tablet) {
    .animate.mobile {
        animation: unset;
    }
}

@media only screen and (min-width: $desktop) {
    .animate.tablet {
        animation: unset;
    }
}


@media (prefers-reduced-motion) {
    .animate {
      animation: unset !important;
      transition: none !important;
    }

    .animate-on-scroll {
        opacity: 1;
    }
}
