@import 'variables';
@import 'normalize';
@import 'utility';
@import 'animations';
@import 'button';
@import 'header';
@import 'section';
@import 'about';
@import 'project';
@import 'footer';
@import 'skills';
@import 'scrollbar';
@import 'menu';

html {
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    letter-spacing: 0.3px;
    font-family: 'Rubik', sans-serif;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    background-color: $background-color;

    @include desktop { text-align: left; }
}

p {
    margin: 12px 0;
    font-size: 1.15rem;
    line-height: 1.6;
}