@import 'variables';
@import 'normalize';
@import 'utility';
@import 'animations';
@import 'button';
@import 'header';
@import 'section';
@import 'about';
@import 'project';
@import 'footer';
@import 'skills';
@import 'scrollbar';
@import 'menu';

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    background-color: $background-color;

    @include desktop { text-align: left; }
}

p {
    margin: 12px 0;
    font-size: 1.15rem;
    line-height: 1.4;
}

.project-img {
    max-width: 250px;
    margin-top: 24px;
    border-radius: 5px;

    @include mobile-l  { max-width: 400px; }
    @include tablet    { max-width: 550px; }
    @include desktop   { margin-left: 36px }
    @include desktop-l { max-width: 600px }
}

.icon {
    display: flex;
    background-color: $primary;
    margin: 0 5px;
    color: #fff;
    width: 42px;
    height: 42px;

    &:hover { background-color: $primary600; }

    svg {
        margin: auto;
        width: 21px;
        height: 21px;
    }
}